[Unit]
Description=Grafana Loki Service
After=network-online.target

[Service]
User={{ loki_user }}
Group={{ loki_group }}
Type=simple
ExecStart={{ loki_install_dir }}/loki -config.file={{ loki_config_dir }}/{{ loki_config_file }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
