auth_enabled: {{ loki_auth_enabled }}

server:
  http_listen_port: {{ loki_port }}

common:
  ring:
    kvstore:
      store: {{ loki_backend_storage }}
    instance_addr: {{ loki_instance_addr }}
  replication_factor: 1
  path_prefix: {{ loki_common_path_prefix }}

schema_config:
  configs:
  - from: {{ loki_schema_from }}
    store: {{ loki_schema_store }}
    object_store: {{ loki_schema_object_store }}
    schema: {{ loki_schema_version }}
    index:
      prefix: {{ loki_schema_prefix }}
      period: {{ loki_schema_period }}
